<launch>
    <arg name="robot_name"                  default="vx300s"/>
    <arg name="arm_operating_mode"          default="position"/>
    <arg name="arm_profile_velocity"        default="131"/>
    <arg name="arm_profile_acceleration"    default="15"/>
    <arg name="use_pid_cntlrs"              default="false"/>
    <arg name="use_gazebo"                  default="false"/>
    <arg name="use_actual"                  default="false"/>
    <arg name="use_fake"                    default="true"/>
    <arg name="dof"                         default="6"/>
    <arg name="use_cpp_interface"           default="false"/>
    <arg name="moveit_interface_gui"        default="true"/>
    <arg name="use_python_interface"        default="true"/>

  <include file="$(find interbotix_moveit)/launch/interbotix_moveit.launch">
        <arg name="robot_name"                value="$(arg robot_name)"/>
        <arg name="arm_operating_mode"        value="$(arg arm_operating_mode)"/>
        <arg name="arm_profile_velocity"      value="$(arg arm_profile_velocity)"/>
        <arg name="arm_profile_acceleration"  value="$(arg arm_profile_acceleration)"/>
        <arg name="use_pid_cntlrs"            value="$(arg use_pid_cntlrs)"/>
        <arg name="use_gazebo"                value="$(arg use_gazebo)"/>
        <arg name="use_actual"                value="$(arg use_actual)"/>
        <arg name="use_fake"                  value="$(arg use_fake)"/>
        <arg name="dof"                       value="$(arg dof)"/>
  </include>

    <group if="$(arg use_python_interface)">

        <rosparam file="$(find interbotix_moveit)/config/params.yaml" command="load"/>
        <node name="server_endpoint" pkg="interbotix_moveit" type="server_endpoint.py" args="--wait" output="screen" respawn="true" />
        <node name="vipermover" pkg="interbotix_moveit" type="vipermover.py" args="--wait" output="screen"/>
            <param name="robot_name" value="$(arg robot_name)"/>
            <param name="dof" value="$(arg dof)"/>
            
        <node name="trajectory_subscriber" pkg="interbotix_moveit" type="trajectory_subscriber.py" args="--wait" output="screen"/>
    </group>

</launch>
